{% extends "site_base.html" %}

{% block head_title %}Presentation: {{ presentation.title }}{% endblock %}

{% block body %}
    
    <h1>{{ presentation.title }}</h1>

    <h2>
        {% for speaker in presentation.speakers %}
            <a href="{% url speaker_profile speaker.pk %}">{{ speaker }}</a>
        {% if not forloop.last %}, {% endif %}{% endfor %}
    </h2>
    
    {% if presentation.slot %}
        <h3>
            {{ presentation.slot.day.date|date:"D j" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
            in
            {{ presentation.slot.rooms|join:", " }}
        </h3>
    {% endif %}

    <h3>Abstract</h3>
    
    <div class="abstract">{{ presentation.abstract|safe }}</div>

    {% if docs %}
    <h3>Attached files</h3>
    <div>
        {% for doc in docs %}
            <a href="{{ doc.download_url }}">{{ doc.description }}</a>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
