[submodule "plata_submodule"]
	path = plata_submodule
	url = git@github.com:pdebuyl/plata.git
[submodule "pdfdocument_submodule"]
	path = pdfdocument_submodule
	url = git@github.com:pdebuyl/pdfdocument.git
